[Unit]
Description=slack alert service
Documentation=https://github.com/mozilla-platform-ops/android-tools/tree/master/worker_health

[Service]
# secrets are stored in ~/.bitbar...
Type=simple
ExecStart=/home/bitbar/.local/bin/pipenv run ./slack_alert.py
Restart=always
# address hanging, restart every 4h
RuntimeMaxSec=4h
WorkingDirectory=/home/bitbar/android-tools/worker_health
User=bitbar

[Install]
WantedBy=multi-user.target
