language: python
python:
  - '3.8'

install:
  - pip install pipenv
  - cd worker_health
  - pipenv install --dev
  - cd ..

script:
  # TODO: use pre-commit to double check stuff
  # worker_health
  - cd worker_health
  - pyflakes *.py
  - pytest -v
  - ./test_help.sh
  - cd ..
  # devicepool_last_started_alert
  - cd devicepool_last_started_alert
  - pyflakes *.py
