[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
# can't specify 3.7 either
#python_version = "3.6"

[dev-packages]
pyflakes = "*"

[packages]
pyyaml = "*"
requests = "*"
pendulum = "*"
influxdb = "*"
schedule = "*"
toml = "*"

