[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pyflakes = "*"
pytest-mock = "*"
pytest-watch = "*"
worker_health = {editable = true, path = "."}
pytest-cov = "*"
ipdb = "*"
pytest = "*"

[packages]
pyyaml = "*"
requests = "*"
influxdb = "*"
schedule = "*"
toml = "*"
natsort = "*"
taskcluster = "*"
humanhash3 = "*"
colorama = "*"
tomlkit = "*"
alive-progress = "*"
testdroid = "*"
gitpython = "*"
pendulum = "*"
sentry-sdk = "*"
rstr = "*"
